body{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 6245px;
    background: #FFFFFF;
}

.header{
    position: absolute;
    width: 100%;
    height: 200px;
    background: #030303;
    border-radius: 0px;
}

.header_block{
    position: absolute;
    width: 1370px;
    height: 50px;
    left: 310px;
    top: 74px;
}

.logo{
    position: absolute;
    width: 195px;
    height: 50px;
    left: -70px;
}

.logo_image{
    position: absolute;
    width: 50px;
    height: 34px;
    top: 9px;
    border-radius: 0px;
}

.logo_text{
    position: absolute;
    width: 125px;
    height: 50px;
    left: 70px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navigation{
    position: absolute;
    width: 720px;
    height: 50px;
    left: 650px;
}

.navigation_inline{
    display: inline-block;
    list-style: none;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    top: 0px;
    color: #FFFFFF;
}

.navigation_visiting{
    position: absolute;
    left: 0px;
}

.navigation_explore{
    position: absolute;
    left: 161px;
}

.navigation_video{
    position: absolute;
    left: 321px;
}

.navigation_tickets{
    position: absolute;
    left: 460px;
}

.navigation_contacts{
    position: absolute;
    left: 618px;
}

main{
    position: absolute;
    width: 1440px;
    height: 5556px;
    left: 240px;
    top: 314px;
    justify-content: center;
}

.container_welcome{
    position: absolute;
    width: 1920px;
    height: 750px;
    left: -240px;
    top: -114px;
    background: #030303;
    border-radius: 0px;
}

.welcome{
    position: absolute;
    width: 598px;
    height: 390px;
    left: 0px;
    top: 0px;
}

.welcome_image_background{
    position: absolute;
    width: 1215px;
    height: 750px;
    left: 705px;
    top: 0px;
}
.title_welcome{
    position: absolute;
    width: 380px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title_to_the_louvre{
    position: absolute;
    width: 598px;
    height: 90px;
    left: 0px;
    top: 90px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.p_welcome{
    position: absolute;
    width: 445px;
    height: 33px;
    left: 0px;
    top: 206px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.button{
    position: absolute;
    width: 360px;
    height: 75px;
    left: 0px;
    top: 315px;
}

.button_background{
    width: 360px;
    height: 75px;
    text-align: center;
    padding: 0;
    background: #710707;
    border-radius: 10px;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #ffffff;
    transition: 0.2s;
}

.visiting{
    position: absolute;
    width: 1440px;
    height: 1115px;
    left: 0px;
    top: 711px;
}

.visiting_title{
    position: absolute;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.visiting_title_underline{
    position: absolute;
    width: 1440px;
    height: 3px;
    left: 0px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
}

.royal_palace{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 0px;
    top: 193px;
}

.visiting_image{
    position: absolute;
    width: 440px;
    height: 285px;
}

.visiting_cards_title{
    position: absolute;
    top: 310px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

.visiting_underline{
    position: absolute;
    width: 300px;
    height: 2px;
    left: 0px;
    top: 354px;
    background: #710707;
    border-radius: 0px;
}

.virtual_tour{
    position: absolute;
    width: 165px;
    height: 26px;
    left: 0px;
    top: 366px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.google_panorama{
    position: absolute;
    width: 240px;
    height: 21px;
    left: 0px;
    top: 402px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.denon_wing{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 500px;
    top: 193px;
}

.colonnade_perrault{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 1000px;
    top: 193px;
}

.greek_hall{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 0px;
    top: 693px;
}

.mona_lisa{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 500px;
    top: 693px;
}

.night_palace{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 1000px;
    top: 693px;
}

.explore_container{
    position: absolute;
    width: 1440px;
    height: 715px;
    left: 0px;
    top: 1976px;
    margin: 0 auto;
    background-color: aquamarine;
}

.explore_title{
    position: absolute;
    width: 660px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.explore_underline{
    position: absolute;
    width: 660px;
    height: 3px;
    left: 0px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
}

.explore_text_1,
.explore_text_2,
.explore_text_3{
    position: absolute;
    width: 660px;
    height: 77px;
    left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.explore_text_1{
    top: 193px;
}

.explore_text_2{
    top: 295px;
}

.explore_text_3{
    top: 397px;
}
.explore_image{
    position: absolute;
    width: 720px;
    height: 700px;
    left: 720px;
    top: 15px;
    border-radius: 0px;
}

.video_frame{
    position: absolute;
    width: 1440px;
    height: 714px;
    left: 0px;
    top: 2856px;
}

.video{
    position: absolute;
    width: 1440px;
    height: 629px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.play_button{
    position: absolute;
    width: 220px;
    height: 220px;
    left: 610px;
    top: 205px;
    border-radius: 0px;
}

.video_buttons{
    position: absolute;
    width: 1440px;
    height: 85px;
    left: 0px;
    top: 629px;
}

.video_text_block{
    position: absolute;
    width: 1440px;
    height: 90px;
    left: 0px;
    top: 3610px;
}

.video_text_title{
    position: absolute;
    width: 605px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665; 
}

.video_text{
    position: absolute;
    width: 720px;
    height: 90px;
    left: 720px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.tickets{
    position: absolute;
    width: 1440px;
    height: 743px;
    top: 3850px;
}

.tickets_title{
    position: absolute;
    width: 471px;
    height: 90px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.tickets_underline{
    position: absolute;
    width: 1440px;
    height: 3px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
}

.tickets_image{
    position: absolute;
    width: 720px;
    height: 550px;
    top: 193px;
    border-radius: 0px;
}

.ticket_type{
    position: absolute;
    width: 270px;
    height: 262px;
    left: 780px;
    top: 193px;
}

.ticket_type_title{
    position: absolute;
    padding-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.permanent_exhibition_p,
.temporary_exhibition_p,
.combined_exhibition_p{
    position: absolute;
    width: 270px;
    height: 25px;
}

.permanent_exhibition_p{
    top: 83px;
}

.temporary_exhibition_p{
    top: 158px;
}

.combined_exhibition_p{
    top: 233px;
}

.amount{
    position: absolute;
    width: 150px;
    height: 342px;
    left: 1290px;
    top: 193px;
}

.contacts{
    position: absolute;
    width: 1440px;
    height: 813px;
    top: 4743px;
}

.contacts_title{
    position: absolute;
    width: 397px;
    height: 90px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.contacts_underline{
    position: absolute;
    width: 1440px;
    height: 3px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
}

.contacts_info{
    position: absolute;
    width: 282px;
    height: 221px;
    top: 203px;
}

.contacts_info_title{
    position: absolute;
    width: 277px;
    height: 67px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.contacts_address,
.contacts_phone,
.contacts_mail{
    position: absolute;
    width: 282px;
    height: 26px;
}

.contacts_address{
    top: 103px;
}

.contacts_phone{
    top: 149px;
}

.contacts_mail{
    top: 195px;
}
.contacts_map{
    position: absolute;
    width: 960px;
    height: 620px;
    left: 480px;
    top: 193px;
}

.footer{
    position: absolute;
    width: 1920px;
    height: 300px;
    top: 5945px;
    background: #030303;
}