body{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 6245px;
    background: #FFFFFF;
}

.header{
    position: absolute;
    width: 100%;
    height: 200px;
    background: #030303;
    border-radius: 0px;
}

.header_block{
    position: absolute;
    width: 1370px;
    height: 50px;
    left: 310px;
    top: 74px;
}

.logo{
    position: absolute;
    width: 195px;
    height: 50px;
    left: -70px;
    top: 0px;
}

.logo_image{
    position: absolute;
    width: 50px;
    height: 34px;
    left: 0px;
    top: 9px;
    border-radius: 0px;
}

.logo_text{
    position: absolute;
    width: 125px;
    height: 50px;
    left: 70px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navigation{
    position: absolute;
    width: 720px;
    height: 50px;
    left: 650px;
    top: 0px;
}

.navigation_inline{
    display: inline-block;
    list-style: none;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    top: 0px;
    color: #FFFFFF;
}

.navigation_visiting{
    position: absolute;
    left: 0px;
}

.navigation_explore{
    position: absolute;
    left: 161px;
}

.navigation_video{
    position: absolute;
    left: 321px;
}

.navigation_tickets{
    position: absolute;
    left: 460px;
}

.navigation_contacts{
    position: absolute;
    left: 618px;
}

main{
    position: absolute;
    width: 1440px;
    height: 5556px;
    left: 240px;
    top: 314px;
}

.container_welcome{
    position: absolute;
    width: 1920px;
    height: 750px;
    left: -240px;
    top: -114px;
    background: #030303;
    border-radius: 0px;
}

.welcome{
    position: absolute;
    width: 598px;
    height: 390px;
    left: 0px;
    top: 0px;
}

.welcome_image_background{
    position: absolute;
    width: 1215px;
    height: 750px;
    left: 705px;
    top: 0px;
}
.title_welcome{
    position: absolute;
    width: 380px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title_to_the_louvre{
    position: absolute;
    width: 598px;
    height: 90px;
    left: 0px;
    top: 90px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.p_welcome{
    position: absolute;
    width: 445px;
    height: 33px;
    left: 0px;
    top: 206px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.button{
    position: absolute;
    width: 360px;
    height: 75px;
    left: 0px;
    top: 315px;
}

.button_background{
    position: absolute;
    width: 360px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #710707;
    border-radius: 10px;
}

.button_text{
    position: absolute;
    width: 360px;
    height: 75px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.visiting{
    position: absolute;
    width: 1440px;
    height: 1115px;
    left: 0px;
    top: 711px;
}

.visiting_title{
    position: absolute;
    width: 543px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.visiting_underline{
    position: absolute;
    width: 1440px;
    height: 3px;
    left: 0px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
}

.royal_palace{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 0px;
    top: 193px;
}

.royal_palace_image,
.denon_wing_image,
.colonnade_perrault_image,
.greek_hall_image,
.mona_lisa_image,
.night_palace_image{
    position: absolute;
    width: 440px;
    height: 285px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.royal_palace_title,
.denon_wing_title,
.colonnade_perrault_title,
.greek_hall_title,
.mona_lisa_title,
.night_palace_title{
    position: absolute;
    left: 0px;
    top: 310px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

.royal_palace_title{
    width: 252px;
    height: 35px;
}

.visiting_underline{
    position: absolute;
    width: 300px;
    height: 2px;
    left: 0px;
    top: 354px;
    background: #710707;
    border-radius: 0px;
}

.virtual_tour{
    position: absolute;
    width: 165px;
    height: 26px;
    left: 0px;
    top: 366px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.google_panorama{
    position: absolute;
    width: 240px;
    height: 21px;
    left: 0px;
    top: 402px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.denon_wing{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 500px;
    top: 193px;
}

.denon_wing_title{
    width: 233px;
    height: 35px;
}

.colonnade_perrault{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 1000px;
    top: 193px;
}

.colonnade_perrault_title{
    width: 403px;
    height: 35px;
}

.greek_hall{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 0px;
    top: 693px;
}

.greek_hall_title{
    width: 214px;
    height: 35px;
}

.mona_lisa{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 500px;
    top: 693px;
}

.mona_lisa_title{
    width: 197px;
    height: 35px;
}

.night_palace{
    position: absolute;
    width: 440px;
    height: 422px;
    left: 1000px;
    top: 693px;
}

.night_palace_title{
    width: 250px;
    height: 35px;
}

.explore_container{
    position: absolute;
    width: 1440px;
    height: 715px;
    left: 0px;
    top: 1976px;
    margin: 0 auto;
    background-color: aquamarine;
}

.explore_title{
    position: absolute;
    width: 660px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.explore_underline{
    position: absolute;
    width: 660px;
    height: 3px;
    left: 0px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
}

.explore_text_1,
.explore_text_2,
.explore_text_3{
    position: absolute;
    width: 660px;
    height: 77px;
    left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.explore_text_1{
    top: 193px;
}

.explore_text_2{
    top: 295px;
}

.explore_text_3{
    top: 397px;
}
.explore_image{
    position: absolute;
    width: 720px;
    height: 700px;
    left: 720px;
    top: 15px;
    border-radius: 0px;
}

.video_frame{
    position: absolute;
    width: 1440px;
    height: 714px;
    left: 0px;
    top: 2856px;
}

.video{
    position: absolute;
    width: 1440px;
    height: 629px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.play_button{
    position: absolute;
    width: 220px;
    height: 220px;
    left: 610px;
    top: 205px;
    border-radius: 0px;
}

.video_buttons{
    position: absolute;
    width: 1440px;
    height: 85px;
    left: 0px;
    top: 629px;
}

.video_text_block{
    position: absolute;
    width: 1440px;
    height: 90px;
    left: 0px;
    top: 3610px;
}

.video_text_title{
    position: absolute;
    width: 605px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665; 
}

.video_text{
    position: absolute;
    width: 720px;
    height: 90px;
    left: 720px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

#wrapper_tickets{
    position: absolute;
    width: 1920px;
    height: 893px;
    left: -240px;
    top: 4089px;
    background: #030303;
    border-radius: 0px;
}
.tickets{
    position: absolute;
    width: 1440px;
    height: 743px;
    left: 0px;
    top: 3850px;
}

.tickets_title{
    position: absolute;
    width: 471px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.tickets_underline{
    position: absolute;
    width: 1440px;
    height: 3px;
    left: 0px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
}

.tickets_image{
    position: absolute;
    width: 720px;
    height: 550px;
    left: 0px;
    top: 193px;
    border-radius: 0px;
}

.ticket_type{
    position: absolute;
    width: 270px;
    height: 262px;
    left: 780px;
    top: 193px;
}

.ticket_type_title{
    position: absolute;
    width: 156px;
    height: 33px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.permanent_exhibition_p{
    position: absolute;
    width: 270px;
    height: 25px;
    left: 0px;
    top: 83px;
}

.temporary_exhibition_p{
    position: absolute;
    width: 270px;
    height: 25px;
    left: 0px;
    top: 158px;
}

.combined_exhibition_p{
    position: absolute;
    width: 270px;
    height: 25px;
    left: 0px;
    top: 233px;
}